<h1><%= @recipe.name %> Show Page</h1>

<% @ingredients.each do |ingredient| %>
    <ul>
        <li><%= "Ingredient Name: #{ingredient.name}" %></li>
    </ul>
<% end %>

<div id="total_cost">
<p>Total cost of ingredients in this recipe is: <%= @recipe.total_cost%></p>
</div>