<h1>Ingredients Index Page</h3>

<% @ingredients.each do |ingredient| %>
    <div id="ingredients-<%= ingredient.id %>">
        <ul>
            <li><%= "Ingredient Name: #{ingredient.name}" %></li>
            <ul>
                <li><%= "This Ingredient Is Used In: #{ingredient.number_of_recipes} recipes" %></li>
            </ul>
        </ul>
    </div>
<% end %>